.container {
  display: flex;
  border: 1px solid white;
  border-radius: 52px;
  padding-block: 10px;
  background-color: #fbf7e3;
  justify-content: space-around;
  padding-inline: 25px;
  font-family: sans-serif;
}

.container div {
  background-color: #f3df85;
  border: 1px solid white;
  border-radius: 45px;
  margin-inline: 20px;
  padding-inline: 22px;
  padding-block: 16px;
  color: #612406;
  margin-block: auto;
}

.div-img {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.6rem;
}

.container img {
  width: 70px;
  margin-inline-end: 20px;
  padding-inline-start: 0;
}
